.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #e8e8e8;
}

.task-wrapper {
  /* display: flex; */
  /* justify-content: center; */
  width: 80%;
  height: 80%;
  overflow: auto;
  border: 1px solid #e8e8e8;
  padding: 1em;
  background: #fff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 1em 2em;
  border-bottom: 1px solid #000;
}

/* error styling */

.error {
  color: #d32f2f;
  display: flex;
  justify-content: center;
  align-items: center;
}
